/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
  margin: 0px;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-cover {
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
.fh5co-cover .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(147, 147, 147, 0.5);
}

.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
  margin-top: 2em;
}

.myheader {
  margin-top: 60px;
  margin-bottom: 5em;
  text-align: center;
}

.mysection {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
}

/* .masklayer{
  mask-image: linear-gradient(
    white 30%,
    transparent 100%
  );
} */

/* FAQ Section */

details {
  background: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  margin-bottom: 1rem;
  padding: 0.5rem 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  transition: background 0.3s;
}

details:hover {
  background: #f3f4f6;
}

summary {
  font-weight: 600;
  cursor: pointer;
  outline: none;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "➕";
  float: right;
  transition: transform 0.3s;
}

details[open] summary::after {
  content: "➖";
  transform: rotate(180deg);
}

details p {
  margin-top: auto;
  margin-bottom: auto;
}

/* Centering */
/* TODO: FIX */

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}