@font-face { font-family: Amsterdam; src: url('../fonts/AmsterdamOne.ttf'); } 
@font-face { font-family: Gellatio; src: url('../fonts/Gellatio.ttf'); } 
@font-face { font-family: Livret; src: url('../fonts/tt_livret.ttf'); } 
@font-face { font-family: Kenao; src: url('../fonts/Kenao.otf'); }

h1 {
  color: white;
  font-family: "Gellatio", Arial, serif;
}

h2 {
  color: white;
  font-family: Engagement;
}

h3 {
  color: #000000;
  font-family: "Work Sans", Arial, sans-serif;
}

body {
  font-family: "Raleway";
  font-weight: 300;
  font-style: normal;
  line-height: 1.3;
}

body b {
  font-weight: 500;
}

body strong {
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 400;
  line-height: 1.5;
  unicode-bidi: isolate;
  margin-top: 0;
}

section header h1 {
  color: #646464;
}