@font-face { font-family: Amsterdam; src: url('../fonts/AmsterdamOne.ttf'); } 
@font-face { font-family: Gellatio; src: url('../fonts/Gellatio.ttf'); } 
@font-face { font-family: Livret; src: url('../fonts/tt_livret.ttf'); } 
@font-face { font-family: Kenao; src: url('../fonts/Kenao.otf'); }

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}


h1, h2, h3 {
  font-weight: 400;
  line-height: 1.5;
  unicode-bidi: isolate;
}

h1, h2 {
  color: white;
}

h1 {
  font-family: "Gellatio", "Amsterdam", Arial, serif;
  font-size: 65px;
}

h2 {
  font-family: Engagement;
  font-size: 30px;
}

section {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

section header h1 {
  color: #646464;
}

h3 {
  color: #000000;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 20px;
}